<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="login-title">
        <h1>Welcome to the ITSECWB System!</h1>
        <hr/>
        <% if(msg !== ""){ %>
            <h4 style="color: rgb(177, 0, 0)">
                <%= msg %>
            </h4>
            <% } %>
    </div>
    <div class="login-form">
        <form action="/" method="post">
            <!-- Login Input -->
            <label for="login-email">Email</label><br/>
            <input name="email" id="login-email" type="text" placeholder="Enter email" required><br/>
            <br/>
            <!-- Password Input -->
            <label for="login-pass">Password</label><br/>
            <input name="pass" id="login-pass" type="password" placeholder="Enter password" required><br/>
            <br/>
            <!-- Submit -->
            <button type="submit">Log In</button>
        </form>
    </div>
    <div class="login-rdr">
        <br/>
        <p>Don't have an account yet? <a href="/register">Register here!</a></p>
    </div>
</body>

</html>