<div class="register-title">
    <h1>ITSECWB System Registration</h1>
    <p>Please fill out the form below to create your account.</p>
    <hr/>
</div>
<div class="register-form">
    <form action="/register" method="post" enctype="multipart/form-data">
        <!-- First Name Input -->
        <label for="first-name">First Name</label><br/>
        <input name="firstName" id="first-name" type="text" placeholder="Enter first name" required><br/>
        <br/>
        <!-- Last Name Input -->
        <label for="last-name">Last Name</label><br/>
        <input name="lastName" id="last-name" type="text" placeholder="Enter last name" required><br/>
        <br/>
        <!-- Email Input -->
        <label for="email">Email</label><br/>
        <input name="email" id="email" type="email" placeholder="example@example.com" required><br/>
        <span id="email-error" style="color: red; display: none;">Please enter a valid email address</span>
        <br/>
        <!-- Phone Number Input -->
        <label for="phone">Phone Number</label><br/>
        <input name="phone" id="phone" type="text" placeholder="09*********" required><br/>
        <span id="phone-error" style="color: red; display: none;">Enter a valid PH cellphone number</span>
        <br/>
        <!-- Profile Picture Input -->
        <label for="profile-picture">Profile Picture</label><br/>
        <input name="profilePicture" id="profile-picture" type="file" accept=".jpg, .jpeg, .png" required><br/>
        <span id="picture-error" style="color: red; display: none;">Please upload a valid image file (JPEG, PNG)</span>
        <br/>
        <p>
            Password Creation Guidelines: </br>
            - at least 12 characters and 64 characters at most</br>
            - at least 1 upper case character</br>
            - at least 1 lower case character</br>
            - at least 1 digit</br>
            - at least 1 special character</br>
        </p>
        <!-- Passwords -->
        <label for="password1">Password</label><br/>
        <input name="password1" id="password1" type="password" placeholder="**********" required><br/>
        <span id="password1-error" style="color: red; display: none;">Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character</span>
        <br/>
        <label for="password2">Confirm Password</label><br/>
        <input name="password2" id="password2" type="password" placeholder="**********" required><br/>
        <span id="password2-error" style="color: red; display: none;">Passwords do not match</span>
        <br/>
        <!-- Submit -->
        <button id="register-btn" type="submit" disabled>Register</button>
    </form>
</div>
<div class="register-rdr">
    <br/>
    <p>Already have an account? <a href="http://localhost:3000">Log in here!</a></p>
</div>

<script>
    document.getElementById("first-name").addEventListener("blur", checkFormValidity);
    document.getElementById("last-name").addEventListener("blur", checkFormValidity);

    document.getElementById("phone").addEventListener("blur", function() {
        var phoneInput = document.getElementById("phone");
        var phoneError = document.getElementById("phone-error");

        if (validatePhoneNumber(phoneInput.value)) {
            phoneError.style.display = "none";
        } else {
            phoneError.style.display = "block";
        }
        checkFormValidity();
    });

    document.getElementById("email").addEventListener("blur", function() {
        var emailInput = document.getElementById("email");
        var emailError = document.getElementById("email-error");

        if (validateEmail(emailInput.value)) {
            emailError.style.display = "none";
        } else {
            emailError.style.display = "block";
        }
        checkFormValidity();
    });

    document.getElementById("profile-picture").addEventListener("change", function() {
        var pictureInput = document.getElementById("profile-picture");
        var pictureError = document.getElementById("picture-error");
        var fileName = pictureInput.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1).toLowerCase();

        if (validateFileExtension(ext)) {
            pictureError.style.display = "none";
        } else {
            pictureError.style.display = "block";
        }
        checkFormValidity();
    });

    document.getElementById("password1").addEventListener("change", function() {
        validatePasswords();
    });

    document.getElementById("password2").addEventListener("change", function() {
        validatePasswords();
    });

    function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

    function validatePhoneNumber(phone) {
        var re = /^09\d{9}$/;
        return re.test(phone);
    }

    function validateFileExtension(fileName) {
        var re = /^(jpg|jpeg|png)$/i;
        return re.test(fileName);
    }

    function validatePassword(password) {
        // - Minimum 8 characters
        // - One uppercase letter
        // - One lowercase letter
        // - One number and one special character
        var re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)[^ ]{12,64}$/;
        return re.test(password);
    }

    function validatePasswords() {
        var pw1Input = document.getElementById("password1");
        var pw2Input = document.getElementById("password2");
        var password1Error = document.getElementById("password1-error");
        var password2Error = document.getElementById("password2-error");

        if (validatePassword(pw1Input.value)) {
            password1Error.style.display = "none";
            if (pw1Input.value === pw2Input.value) {
                password2Error.style.display = "none";
            } else {
                password2Error.style.display = "block";
            }
        } else {
            password1Error.style.display = "block";
        }
        checkFormValidity();
    }

    function checkFormValidity() {
        var firstName = document.getElementById("first-name").value;
        var lastName = document.getElementById("last-name").value;
        
        var emailInput = document.getElementById("email").value;
        var emailError = document.getElementById("email-error").style.display;

        var phoneInput = document.getElementById("phone").value;
        var phoneError = document.getElementById("phone-error").style.display;

        var pictureInput = document.getElementById("profile-picture").value;
        var pictureError = document.getElementById("picture-error").style.display;

        var pw1Input = document.getElementById("password1").value;
        var pw2Input = document.getElementById("password2").value;
        var password1Error = document.getElementById("password1-error").style.display;
        var password2Error = document.getElementById("password2-error").style.display;
        
        if (    firstName !== "" && 
                lastName !== "" && 
                (emailInput !== "" && emailError === "none") && 
                (phoneInput !== "" && phoneError === "none") &&
                (pictureInput !== "" && pictureError === "none") &&
                (pw1Input !== "" && pw2Input !== "" && password1Error === "none" && password2Error === "none")
            ) {
            document.getElementById("register-btn").disabled = false;
        } else {
            document.getElementById("register-btn").disabled = true;
        }
    }
</script>
