/* #5E6AB4 */
/* #9E82C5 */

body {
    background-color: #FAF9F6;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.centerSingleScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

  
.loginRegContainer {
    box-shadow: 0 3px 10px #5E6AB4;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 30%;
}


.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: auto;
    padding: 5vh 5vw;
}

.userInfoContainer {
    display: flex;
    flex-direction: row;

    box-shadow: 0 3px 10px #5E6AB4;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
    margin-bottom: 30px;
}

.column{
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 50%;
    margin: 20px;
}

.mainContainer {
    box-shadow: 0 3px 10px #5E6AB4;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
    margin-bottom: 30px;
}

#textareaInput{
    width: 100%;margin-top: 20px; margin-bottom: 20px
}

.postContainer {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px #5E6AB4;
    justify-content: space-between;
    /* padding: 20px; */
    border-radius: 10px;
    margin: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.button-1 {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #cccccc; /* Light border color */
    width: 50px; /* Set the width */
    height: 50px; /* Set the height to match the width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: all .15s ease-in-out;
    color: gray;
}
.postContainer:has(.button-1:hover) {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px red;
    border: 3px solid red;
}
