/* #5E6AB4 */
/* #9E82C5 */

body {
    background-color: #FAF9F6;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.centerSingleScroll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

  
.loginRegContainer {
    box-shadow: 0 3px 10px #5E6AB4;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 30%;
}


.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
}

.userInfoContainer {
    display: flex;
    flex-direction: row;

    box-shadow: 0 3px 10px #5E6AB4;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
    margin-bottom: 30px;
}

.column{
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 50%;
    margin: 20px;
}

.mainContainer {
    box-shadow: 0 3px 10px #5E6AB4;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
    margin-bottom: 30px;
}

#textareaInput{
    width: 100%;margin-top: 20px; margin-bottom: 20px
}

.postContainer {
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px #5E6AB4;
    justify-content: space-between;
    /* padding: 20px; */
    border-radius: 10px;
    margin: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.button-1 {
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #cccccc; /* Light border color */
    width: 50px; /* Set the width */
    height: 50px; /* Set the height to match the width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: all .15s ease-in-out;
    color: gray;
}
.postContainer:has(.button-1:hover) {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px red;
    border: 3px solid red;
}

#navbar {
    padding: 20px; /* Reduced padding for a sleeker look */
    background-color: #5E6AB4;
    margin: 10px;
    border-radius: 15px;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex; /* Flexbox for better layout control */
    justify-content: center; /* Center the items */
}

#navbar ul li {
    margin: 0 10px; /* Add margin for spacing between items */
}

#navbar ul li a {
    text-decoration: none;
    padding: 10px 15px; /* Increased padding for better click area */
    color: #fff;
    background-color: transparent; /* Use transparent background initially */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
    border-radius: 5px; /* Slightly round the corners for a modern look */
}

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}
